.Header{
    position:sticky;
    height: 13vh;
    top: 0;
    z-index: 20;
    background-color: rgb(225, 223, 223);
}
.Header_dark{
    position:sticky;
    height: 13vh;
    top: 0;
    z-index: 20;
    background-color: #343333;
}
.block_menu{
    display: flex;
}
.block_service{
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
.block_button{
    width: 50vw;
}
.block_search{
    width: 40%;
}
.block_user{
    margin-bottom: 10px;
}