.MainLayout_dark{
    margin: 0;
    align-content: center;
    background-color: black;
    color: snow;
}
.MainLayout{
    margin: 0;
    align-content: center;
}

.block_main{
    width: 75vw;
    height: 100%;
    margin: auto;
    padding-top: 1%;
}